.pagination {
  padding: 30px 0;
}

.pagination-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-item,
.btn-prev,
.btn-next {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
}

.btn-item:hover {
  font-weight: 700;
}

.isLight button {
  border-color: black;
  color: black;
}

.isDark button {
  border-color: white;
  color: white;
}
.activ {
  border: 3px solid rgb(90, 142, 90) !important;
}

.disabled {
  color: rgb(129, 128, 128) !important;
  border-color: rgb(129, 128, 128) !important;
}

@media screen and (max-width: 630px) {
  .btn-item,
  .btn-prev,
  .btn-next {
    margin: 5px;
  }

  .pagination-block {
    flex-wrap: wrap;
  }
}
